<body>
	<div class="intro">
		<h1><a href="/">Olivia Stalcup</a></h1>
		<div class="nav">
			<a href="/about">About</a>
			<a href="/projects">Projects</a>
			<a href="/contact">Contact</a>
			<a href="https://www.github.com/olivia-char">GitHub</a>
		</div>
	</div>
	<div class="container">
		<div class="aboutBox">
			<h2>I love to build things.</h2>
			<h2>What I really enjoy is combining design and functionality, whether it be refurbishing furniture, gardening or building a website.</h2>
			<h2>My passion is creating interactive artistry.</h2>
		</div>
	</div>
</body>