<body>
	<div class="intro">
		<h1><a href="/">Olivia Stalcup</a></h1>
		<div class="nav">
			<a href="/about">About</a>
			<a href="/projects">Projects</a>
			<a href="/contact">Contact</a>
			<%= link_to "GitHub", "http://github.com/olivia-char", :target => "_blank" %> 
		</div>
	</div>
	<div class="container">
		<div class="introBox">
			<h2>Code.</h2> 
			<h2>Sleep.</h2> 
			<h2>Repeat.</h2>
		</div>
	</div>
</body>

